@font-face {
  font-family: CustomFont1;
  src: url(RumRaisin-Regular.ttf);
}

footer{
    padding-top: 20px;
}

.topbar{
  background-color: black;
  height: 80px;

}
.topimg{
  position: relative;
  left: 350px;
  top: 14px;
}

.indexTermek{
  width: 250px;
  height: 250px;
  flex: 40%;
  padding: 15px;
}

.row {
    padding-left: 100px;
    display: flex;
}

.topicons{
  position: relative;
  top: 18px;
  left: 350px;
  height: 32px;
  width: 32px;
}
.topsearch{
  position: relative;
  top: 24px;
  left: 370px;
  height: 32px;
  width: 250px;
}
.middlebar{
  background-color: #383232;
  text-align: center;
  color: black;
  font-size: 28px;
  font-family: CustomFont1;
}

a.menu{
  padding-right: 100px;
  color: white;
}

a.menu:hover{
  color: white;
  text-decoration: underline;
  text-decoration-color: aqua;
}

.homepage{
    padding-left: 100px;
}
.hirl{
  margin: auto;
  width: 20%;
  border: 3px solid black;
  padding: 10px;
}
.infos{
  background-color: white;
  color: black;
}

.kapcs{
  background-color: azure;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: CustomFont1;
}

.left{
  padding-right: 10px;
  background-color: black;
  width: 50%;
  font-family: CustomFont1;
  color: white;
  float:left;
  text-align: right;
}
.right{
  padding-left: 10px;
  width: 50%;
  background-color: black;
  color: white;
  font-family: CustomFont1;
  float: left;
  text-align: left;
}




.jog{
  background-color: beige;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: CustomFont1;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Set a style for button type input classes */
.input_button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.input_button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.topbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.webshopMenu {
    padding-left: 20px;
    display: flex;

}

.webshopItems {
    flex: 40%;
    padding: 15px;
}

.cart{
  padding-left: 30px;
  padding-top: 10px;
  width: 95%;
  background-color: #f1f1f1;
}

.payment {
  height: 500px;
}

.otp_top {
  margin-top: 45px;
  height: 35px;
  width: 450px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.otp_topBlack {
  height: 35px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.otp_bottom {
  height: 150px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.otp_card_number {
  width: 100px;
  height: 30px;
}

.otp_card_exp {
  width: 125px;
  height: 30px;
}

.otp_card_cvv {
  width: 100px;
  height: 30px;
}

.item{
  margin-top: 20px;
  width: 95%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fefefe;
}
img.item{
  width: 100px;
  height: 100px;
}
.termek{
  margin-top: 20px;
  width: 95%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f1f1f1;
}
img.termek{
  width: 200px;
  height: 200px;
}

.nev_mezo {
  width: 200px;
  margin-left: 30px;
}

